menu "Touch Controller Selection"
    config TOUCH_ENABLE
        bool "Enable Touch Screen"
        default n
        help
            Enable touchscreen support.
            When disabled, no touch controller is compiled in.

    if TOUCH_ENABLE
        choice
            prompt "Select Touch Controller"
            default TOUCH_CST328_MENU
            config TOUCH_CST328_MENU
                bool "CST328"
                select TOUCH_CST328

            config TOUCH_GT911_MENU
                bool "GT911"
                select TOUCH_GT911

            config TOUCH_GT9XX_MENU
                bool "GT9XX"
                select TOUCH_GT9XX

            config TOUCH_TDDI_MENU
                bool "TDDI"
                select TOUCH_TDDI
        endchoice
    endif
endmenu

config TOUCH_CST328
    bool

config TOUCH_GT911
    bool

config TOUCH_GT9XX
    bool

config TOUCH_TDDI
    bool
